/*
Filename:	design.css 
Version:	6.0.1
*/

body{
	background:url(../imgs/mainbg.jpg) repeat-x #000;
	color:#FFF;
}

h1{
	font-family:"Comic Sans MS", cursive;
	text-align:center;
}

#container{
	margin-left:auto;
	margin-right:auto;
	margin-top:85px;
	height:auto;
	width: 900px;
}

#search-box{
	width:350px;
	height:35px;
	padding: 10px;
	border: 0px solid black;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:16px;
}

#search-button{
	border: 0px solid black ;
	height: 25px;
	width: 65px;
	border-radius: 10px ;
	-moz-border-radius: 10px ;
	-webkit-border-radius: 10px ;
	font-family:"Comic Sans MS", cursive;
	font-weight:bolder;
	font-size:14px;
	cursor:pointer;
}

#search-bar{
	float: left;
	width:900px;
	height: 150px;
}

#adv_sys{
	float: left;
	width: 240px;
	height: auto;
	padding-right:25px;
	padding-left:15px;
}

#results{
	float:left;
	background-color:#343434;
	border-radius: 10px ;
	-moz-border-radius: 10px ;
	-webkit-border-radius: 10px ;
	padding: 7px;
	width: 600px;
	height: 635px;
}

#scroll-area{
	height: 535px;
	overflow:auto;	/* SOURCE:	http://www.w3schools.com/css/pr_pos_overflow.asp */
	display: block;
}

a:link,
a:visited{
	color:#CCC;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
	color:#C90;
}

.testing{
	left:20px;
	text-align: right;
}

.blue_link{
	padding:20px, 0px, 0px, 0px;
	color:#09F;
	font-size:12px;
}