/*
Filename:	feedB.css 
Version:	6.5.1
This file contains all the styles that are assigned to the feedback form and sent page
*/

body{
	background:url(../imgs/mainbg.jpg) repeat-x #000;
	color:#FFF;
}

h1{
	font-family:"Comic Sans MS", cursive;
	text-align:center;
}

#container{
	margin-left:auto;
	margin-right:auto;
	height:auto;
	width: 900px;
}

#feed_form{
	height: 555px;
	overflow:auto;
	background-color:#343434;
	display: block;
	border-radius: 10px ;
	-moz-border-radius: 10px ;
	-webkit-border-radius: 10px ;
	width:725px;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	height:615px;
}

.important{
	color:#F00;
	font-weight:bold;
}

a:link,
a:visited{
	color:#CCC;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
	color:#C90;
}

.button{
	border: 0px solid black ;
	height: 25px;
	width: 65px;
	border-radius: 10px ;
	-moz-border-radius: 10px ;
	-webkit-border-radius: 10px ;
	font-family:"Comic Sans MS", cursive;
	font-weight:bolder;
	font-size:14px;
	cursor:pointer;
}